* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  font-weight: 600;
}

body {
  font-family: 'Arial', sans-serif;
  background-image: url(/public/img/fondo.jpg);
  background-size: cover; /* Asegura que la imagen de fondo cubra toda la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 500px; /* Ancho máximo para mantener un diseño compacto */
  width: 100%; /* Ajuste al ancho del viewport */
  margin: auto;
  position: relative;
  background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con transparencia para mejor legibilidad */
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave para destacar */
  color: #000000;
}

.header {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  background-color: #b02727;
  padding: 10px 15px;
  border-radius: 10px;
}

.wallet-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.wallet-address {
  margin-right: 10px;
  font-weight: bold;
  color: #ffffff;
}

.btn-connect, .btn-disconnect {
  background-color: #ffffff;
  border: none;
  color: #000000;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-connect:hover, .btn-disconnect:hover {
  background-color: #ccc;
}

.main-content {
  margin-top: 60px;
  width: 100%;
  background-color: #f6f6f6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.project-info {
  margin-bottom: 20px;
}

.logo {
  width: 100px;
  margin-bottom: 10px;
}

.price-info {
  margin: 20px 0;
  font-size: 1.2rem;
  color: #000000;
}

.progress-bar-container {
  width: 100%;
  margin-bottom: 20px;
}

.progress {
  background-color: #4d4545;
  width: 100%;
  height: 20px;
  border-radius: 10px;
}

.progress-bar {
  background-color: #ff0000;
  height: 100%;
  border-radius: 10px;
}

.goal {
  font-weight: bold;
  margin-top: 10px;
  color: #000000;
}

.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.input-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 80%; /* Ajustado para mayor espacio */
  background-color: #ff00003b;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.input-field input {
  border: none;
  outline: none;
  width: 80%;
  background-color: transparent;
}

.token-logo {
  width: 25px;
  height: 25px;
}

.btn-buy {
  background-color: #b32222;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.btn-buy:hover {
  background-color: #ff0000;
}
